@page "/Inventario"
@page "/Inventario/{ProductoId:int}"
@using Shared.Interfaces
@using Shared.Models
@* @attribute [Authorize(Roles = "Admin")] *@

@inject NavigationManager NavigationManager
@inject IServer<Productos> productoService
@inject IServer<CategoriaProductos> categoriaService
@inject ApplicationDbContext dbContext

@rendermode InteractiveServer

<PageTitle>Inventario</PageTitle>
<div class="container">
    <div class="card shadow">
        <div class="card-header">
            <h3 class="fw-bold mb-0">Inventario</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 mb-1 ">
                    <button class="btn btn-outline-success w-40 mb-5" @onclick="Crear">Agregar Producto</button>
                </div>
                <div class="col-2">
                    <InputSelect id="filtro" class="form-select" @bind-Value="filtro">
                        <option>Elije una opci&oacute;n</option>
                        <option value="ID">Id</option>
                        <option value="nombre">Nombre</option>
                    </InputSelect>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        <InputText class="form-control" @bind-Value="valorFiltro" placeholder="Ingrese el dato"></InputText>
                        <button type="button" class="btn btn-outline-primary" @onclick="Buscar">Buscar</button>
                    </div>                   
                </div>
                <div class="col-md-4 mb-5">
                    <button class="btn btn-outline-dark w-40 mb-5" @onclick="OnInitializedAsync">Restablecer</button>
                </div>
            </div>
            <div>
                <table class="table table-striped table-bordered justify-content">
                    <thead>
                        <tr class="text-center bg-warning">
                            <th>Producto</th>
                            <th>Nombre</th>
                            <th>Categor&iacute;a</th>
                            <th>Precio</th>                           
                            <th>ITBIS</th>
                            <th>Cantidad</th>
                            <th>Estado</th>
                            <th>Editar</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var producto in listaproductos)
                        {
                            <tr class="text-center">
                                <td>@producto.ProductoId</td>
                                <td>@producto.Nombre</td>
                                <td>@producto.Categoria?.Nombre</td>
                                <td>@producto.Precio.ToString("N2")</td>
                                <td>@producto.ITBIS.ToString("N2")</td>
                                <td>@producto.Cantidad</td>
                                @if (producto.Disponible)
                                {
                                    <td><span class="badge bg-success">Disponible</span></td>
                                }
                                else
                                {
                                    <td><span class="badge bg-danger">No Disponible</span></td>
                                }
                                <td><button type="button" class="btn btn-primary" @onclick="() => Editar(producto.ProductoId)">Editar</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int ProductoId { get; set; }
    public List<Productos> listaproductos { get; set; } = new List<Productos>();
    public string? filtro { get; set; }
    public string? mensaje { get; set; }
    public string? valorFiltro { get; set; }
    public List<CategoriaProductos> categorias { get; set; } = new List<CategoriaProductos>();
    public int SelectedCategoriaId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        listaproductos = await productoService.GetAllObject();
        categorias = await categoriaService.GetAllObject();
    }

    public void Crear()
    {
        NavigationManager.NavigateTo("/CrearProducto");
    }

    public async Task Buscar()
    {
        if (filtro == null)
        {
            mensaje = "Elija una opción";
            StateHasChanged();
            await Task.Delay(3000);
            return;
        }

        switch (filtro)
        {
            case "ID":
                if (int.TryParse(valorFiltro, out int id))
                {
                    var buscarId = listaproductos.Where(c => c.ProductoId == id).FirstOrDefault();
                    if (buscarId != null)
                    {
                        listaproductos.Clear();
                        listaproductos.Add(buscarId);
                        mensaje = "Producto encontrado";
                    }
                    else
                    {
                        mensaje = "No se encontraron resultados";
                    }
                }
                else
                {
                    mensaje = "El valor ingresado para ProductoId no es válido";
                }
                StateHasChanged();
                break;

            case "nombre":
                var buscarNombre = listaproductos.Where(c => c.Nombre.Contains(valorFiltro, StringComparison.OrdinalIgnoreCase)).ToList();
                if (buscarNombre.Any())
                {
                    listaproductos = buscarNombre;
                    mensaje = "Producto encontrado";
                }
                else
                {
                    mensaje = "No se encontraron resultados";
                }
                StateHasChanged();
                break;
        }
    }

    void Editar(int ProductoId)
    {
        NavigationManager.NavigateTo($"/EditarProductos/{ProductoId}");
    }
}
